.backg {
    background-attachment: fixed;
    text-align: center;
    width: 100%;
    background-size: cover;
    background-image: url('../ImagesAndIcons/Images/pexels-photo-1084510.jpeg');
}

.parent {
    display: flex;
}

.left {
    height: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}
